/* sky blue #ADDFFF */
/* lighter blue #007dff */
/* white #EEEEEE */
/* dark blue #004394 from logo */
/* passing colors = #006AFF with #FFFFFF */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-details {
  font-family: "Lato";
  padding: 1rem;
  font-weight: bold;
}

.product-section {
  padding: 1rem;
}

.table-section {
  padding: 0;
}

.product-title {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.product-subtitle {
  text-align: center;
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.product-intro {
  font-size: 1.25rem;
  /* font-family: "Raleway", sans-serif; */
  font-weight: bold;
}

.list-group {
  list-style: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.checksquare {
  /* color: #004394; */
  color: #007dff;
  margin-right: 0.25rem;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
}

/* Tables */

th {
  background: #addfff;
  color: #000000;
  border: 2px solid #000000;
  padding: 0.5rem !important;
}

td {
  border: 2px solid #000000;
  padding: 0.5rem !important;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.fr1 tr {
  background-color: #ffffff;
}

/* Responsive Tables */

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */

  .responsive,
  .responsive thead,
  .responsive tbody,
  .responsive th,
  .responsive td,
  .responsive tr {
    display: block;
    text-align: center;
  }
  .responsive {
    width: auto;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive tr {
    /* margin: 0 0 1rem 0; */
    background: #eeeeee;
    margin: 0;
  }

  .responsive tr:nth-child(odd) {
    background: #addfff;
  }
  .responsive tr:nth-child(even) {
    background-color: #ffffff;
  }

  .responsive td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #000000;
    position: relative;
    padding-left: 50% !important;
  }

  .responsive td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    /* top: 0; */
    left: 0.5rem;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .responsive caption {
    display: block;
  }

  /* FiberCement Table 1 */
  .fc1 td:nth-of-type(1):before {
    content: "Attribute";
  }
  .fc1 td:nth-of-type(2):before {
    content: "Benefit";
  }

  /* FiberCement Table 2 */
  .fc2 td:nth-of-type(1):before {
    content: "Product";
  }
  .fc2 td:nth-of-type(2):before {
    content: "Thickness (mm)";
  }
  .fc2 td:nth-of-type(3):before {
    content: "Width (mm)";
  }
  .fc2 td:nth-of-type(4):before {
    content: "Length (mm)";
  }

  /* FiberCement Table 3 */
  .fc3 td:nth-of-type(1):before {
    content: "Property";
  }
  .fc3 td:nth-of-type(2):before {
    content: "Specification";
  }

  /* FireResistant Table 2 */
  .fr2 td:nth-of-type(1):before {
    content: "Property";
  }
  .fr2 td:nth-of-type(2):before {
    content: "ASTM C1396";
  }
  .fr2 td:nth-of-type(3):before {
    content: "DIN EN 520";
  }
  .fr2 td:nth-of-type(4):before {
    content: "SIG – FR";
  }
}

@media only screen and (max-width: 400px) {
  .product-details {
    padding: 0;
  }
}
