* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  #nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none !important;
    /* display: flex; */
  }

  #nav-toggle {
    /* position: fixed; */
    /* margin-left: auto; */
    box-sizing: border-box;
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 5%;
  }

  #nav-toggle:focus {
    outline: none;
  }

  #nav-toggle .line {
    margin: 0;
    padding: 0;
    height: 2px;
    width: 30px;
    /* margin: 5px; */
    background: #dddddd;
  }

  nav h1 {
    font-size: 1.1rem !important;
  }

  /* .nav-link {
    position: fixed;
    background: rgba(0, 70, 143, 0.9);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    color: white;
    border: 1px solid white;
  } */

  #sidebar-nav {
    display: none;
    width: 220px;
    position: absolute;
    right: 0;
    top: 70px;
    width: auto;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
  }

  .active {
    display: flex !important;
    flex-direction: column;
  }
}
